@model Restorant.Models.rezervasyon

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("Edit", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.rezervasyon_id)
    @Html.HiddenFor(model => model.kullanici_id)
    @Html.HiddenFor(model => model.masa_id)
<div class="container text-center">
    <div class="shadow-lg p-3 m-5 bg-white rounded w-75">
        <p class="fw-bold h1 mx-2">@Model.rezervasyon_id Numaralı Rezervasyonu Düzenle</p>
        <div class="row m-auto">
            <div class="col-sm-6">
                <div class="input-group-prepend">
                    <span class="input-group-text  bg-body border-0 fw-bold" id="basic-addon1">Saat</span>
                </div>
                @Html.TextBoxFor(x => x.rezervasyon_saati, new { @class = "form-control", type = "time" })
            </div>
            <div class="col-sm-6">
                <div class="input-group-prepend">
                    <span class="input-group-text  bg-body border-0 fw-bold" id="basic-addon1">Tarih</span>
                </div>
                @Html.TextBoxFor(x => x.rezervasyon_tarihi, new { @class = "form-control" })
            </div>
        </div>
        <div class="row m-auto mt-2">
            <div class="col-sm-12">
                <div class="input-group-prepend">
                    <span class="input-group-text  bg-body border-0 fw-bold" id="basic-addon1">Kişi Sayısı</span>
                </div>
                @Html.TextBoxFor(x => x.kişi_sayisi, new { @class = "form-control" })
            </div>
        </div>
        <div class="row m-auto mt-2">
            <div class="col-sm-6">
                <div class="input-group-prepend">
                    <span class="input-group-text  bg-body border-0 fw-bold" id="basic-addon1">İsim</span>
                </div>
                @Html.TextBoxFor(x => x.musteri_adi, new { @class = "form-control" })
            </div>
            <div class="col-sm-6">
                <div class="input-group-prepend">
                    <span class="input-group-text  bg-body border-0 fw-bold" id="basic-addon1">Soyisim</span>
                </div>
                @Html.TextBoxFor(x => x.musteri_soyadi, new { @class = "form-control" })
            </div>
        </div>
        <div class="row m-auto mt-2">
            <div class="col-sm-12">
                <div class="input-group-prepend">
                    <span class="input-group-text  bg-body border-0 fw-bold" id="basic-addon1">E-mail</span>
                </div>
                @Html.TextBoxFor(x => x.musteri_email, new { @class = "form-control" })
            </div>
        </div>
        <div class="row m-auto mt-2">
            <div class="col-sm-12">
                <div class="input-group-prepend">
                    <span class="input-group-text  bg-body border-0 fw-bold" id="basic-addon1">Telefon Numarası</span>
                </div>
                @Html.TextBoxFor(x => x.musteri_tel, new { @class = "form-control" })
            </div>
        </div>
        <div class="row m-auto mt-4 px-2">
            <button type="submit" class="btn btn-primary btn-lg btn-block button">Düzenle</button>
        </div>
    </div>
    
</div>

}
