@model Restorant.Models.yemekler

@{
    ViewBag.Title = "YemeklerAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<div class="container">
    <h2>Yeni Yemek Ekle</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.yemek_id)
        <table class="table">
            <thead>
                <tr>

                    <th>Yemek Adı</th>
                    <th>Yemek Tarifi</th>
                    <th>Yemek Fiyatı</th>
                    <th>Yemek Kategorisi</th>

                    <th style="width: 110px;">İşlemler</th>
                </tr>
            </thead>
            <tbody>
                <tr class="fw-bold">


                    <td>@Html.TextBoxFor(x => x.yemek_adi, new { @class = "form-control" })</td>
                    <td>@Html.TextAreaFor(x => x.yemek_tarifi, new { @class = "form-control" })</td>
                    <td>@Html.TextBoxFor(x => x.yemek_fiyati, new { @class = "form-control" })</td>
                    <td>
                        <select class="form-select" name="katagori_id">
                            <option value="1">Salatalar</option>
                            <option value="2">Başlangıçlar</option>
                            <option value="3">Yöresel Yemekler</option>
                            <option value="4">Izgaralar</option>
                            <option value="5">Tatlılar</option>
                            <option value="6">İçecekler</option>
                        </select>
                    </td>
                    <td>
                        <button type="submit" class="bx bx-check border-0" style="font-size:2rem; background-color:white;"></button>
                    </td>

                </tr>
            </tbody>
        </table>
    }
</div>